* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background:linear-gradient(to right, #1a73e8, #43a047);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  background: transparent;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.welcome {
  margin-bottom: 30px;
}

.welcome h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome span {
  color: #1a73e8;
}

.form-box {
 
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px 70px;
  width: 600px;
  text-align: center;
}
.form-box1 {
  
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 20px 70px;
  width: 600px;
  margin: 20px;
  text-align: center;
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  color: #ddd;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
}

.btn {
  
  width: 50%;
  background: #1a73e8;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  
}

.btn:hover {
  background: #155ec2;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

p {
  text-align: center;
  margin-top: 10px;
}

#loginMsg, #registerMsg {
  text-align: center;
  color: yellow;
  margin-top: 10px;
  text-align: center;
}
.color{
  color: ;
}